* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 97%;
  display: flex;
  justify-content: space-between;
}

.today-data {
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 15px solid rgba(236, 232, 232, 0.76);
  border-radius: 70% 60% 50% 55% / 70% 50% 60% 50%;
}

.login {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 100px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 80% 50% 70% 50% / 50% 50% 70% 70%;
  background-color: rgba(175, 129, 184, 0.5);
}

.login #login-form input:first-child,
.today-todo #todo-form input {
  padding: 15px 0px;
  margin-bottom: 25px;
  text-align: center;
  width: 250px;
  border: none;
  border-bottom: 3px solid rgb(0, 0, 0);
  font-size: 18px;
  background-color: transparent;
}

.login #login-form input:first-child::placeholder,
.today-todo #todo-form input::placeholder {
  color: rgb(0, 0, 0);
}

.login #login-form input:first-child:focus,
.today-todo #todo-form input:focus {
  outline: none;
}

.login #login-form input:first-child:focus::-webkit-input-placeholder,
.today-todo #todo-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.login #login-form input:last-child,
.delete-button {
  width: 70px;
  height: 50px;
  border: 3px solid rgb(66, 66, 66);
  border-radius: 67% 57% 63% 86% / 45% 59% 74% 70%;
  background-color: rgba(203, 171, 240, 0.671);
  font-weight: 600;
}

.login #login-form input:last-child:hover,
.delete-button:hover {
  background-color: rgba(179, 110, 179, 0.671);
}

.hidden {
  display: none;
}

.today-todo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 626px;
  height: 680px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 80% 50% 70% 50% / 50% 50% 60% 70%;
  background-color: rgba(145, 118, 207, 0.671);
}

.today-todo .today-label {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  font-size: 35px;
  font-weight: 600;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 70% 60% 50% 55% / 70% 50% 60% 50%;
  background-color: rgba(179, 110, 179, 0.671);
}

.todo-font {
  font-size: 22px;
  font-weight: 700;
}

.delete-button {
  margin-left: 5px;
  margin-bottom: 10px;
  width: 35px;
  height: 35px;
}

#quote {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
  line-height: 110%;
}